---
import "../css/index.css";
import "../css/_base.css";
import Header from "../Components/Header.astro";
import Tag from "../Components/Tag.astro";
import Post from "../Components/PostCard.astro";
import Footer from "../Components/Footer.astro";
import { filterPosts } from "../utils/filterPosts";
const allPosts = await Astro.glob("../**/*.md");
const formattedPosts = filterPosts(allPosts, { limit: 6, sortByDate: true });
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Land Maze</title>
  </head>
  <body
    class="bg-background text-text selection:bg-accent selection:text-black p-10 pt-8 2xl:w-pagemax 2xl:m-auto font-mono"
  >
    <Header />
    <span
      class="my-10 xl:text-6xl md:text-4xl text-3xl text-center w-auto sm:block hidden decoration-dotted opacity-80"
      style="text-decoration: underline overline dashed; text-underline-offset: 24px;"
      >Main tags</span
    >
    <div
      id="filter-tags"
      class="sm:flex flex-wrap gap-5 justify-between hidden font-mono"
    >
      <Tag name="Math" type="primary" size="large" />
      <Tag name="Research" type="primary" size="large" />
      <Tag name="Development" type="primary" size="large" />
      <Tag name="Tutorial" type="primary" size="large" />
      <Tag name="Machine learning" type="primary" size="large" />
    </div>

    <span
      class="my-10 xl:text-5xl text-3xl w-auto block text-center decoration-dotted opacity-80"
      style="text-decoration: underline overline dashed; text-underline-offset: 24px;"
      >Recent posts</span
    >

    <div class="grid md:grid-cols-2 grid-cols-1 xl:gap-10">
      {
        formattedPosts.map((post) => (
          <Post
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            tags={post.frontmatter.tags}
            date={post.frontmatter.date}
            image={post.frontmatter.image}
            />
        ))
      }
    </div>
    <Footer />
  </body>
</html>
