---
interface Props{
    title: string;
    date: string;
    description: string;
    image: string;
    tags: string[];
    style?: string;
    link?: string;
}

import Tag from "./Tag.astro";
import Link from './Link.astro'

import { colorPickerLetter } from '../utils/colorPickerLetter'
import { colors } from '../utils/colors'

const { title, date, description, image, tags, style, link } = Astro.props as Props;
const convertedDate = new Date(date)
const formattedDate = `${convertedDate.toLocaleString('default', { month: 'short' })} ${convertedDate.getDate()}, ${convertedDate.getFullYear()}`
---

<article class={"post p-2.5 h-fit flex flex-col self-center" + ' ' + style}>
    <Link href={link ?? "#"} rel="noopener" target="_self" style="text-center my-1.5 text-2xl" icon={true}>
        <img src={image} class="w-full h-48 object-cover rounded-3xl mb-2"/>
        <span class="">{title}</span>
    </Link>
    <span class="md:text-xs text-2xs text-accent opacity-50">{formattedDate}</span>
    <p class="overflow-hidden text-ellipsis line-clamp-2 opacity-70 contr">{description}</p>
    <div class="flex flex-wrap gap-2 mt-2">
        {tags.map(tag => (
            <Link href="#" rel="noopener" target="_self">{
                <Tag name={tag} size="small" type="primary"/>
            }</Link>
        ))}
    </div>
</article>