---
// ---------- Astro layout ----------
import BaseLayout from "../../layouts/base.astro";

// ---------- Components ----------
import Tag from "../../Components/Tag.astro";
import Post from "../../Components/PostCard.astro";

// ---------- Utils ----------
import { type Language, Languages } from "../../utils/types/Languages";
import { contentText } from "../../utils/languageText";
import { filterPosts } from "../../utils/filterPosts";

// ---------- Astro path ----------
export const getStaticPaths = () => {
  return Languages.map((lang) => ({ params: { language: lang.code } }));
}
// ---------- Post formating ----------
const allPosts = await Astro.glob("../../content/posts/*.md");
const formattedPosts = filterPosts(allPosts, { limit: 6, sortByDate: true });

// ---------- Astro props ----------
const { language } = Astro.params as Language;

// ------------------------------
---

<BaseLayout language={language} title="Home">
  <span
      class="my-10 xl:text-6xl md:text-4xl text-3xl text-center w-auto sm:block hidden decoration-dotted opacity-80"
      style="text-decoration: underline overline dashed; text-underline-offset: 24px;"
      >{contentText[language].main_tags}</span
    >
    <div
      id="filter-tags"
      class="sm:flex flex-wrap gap-5 justify-between hidden font-mono"
    >
      <Tag name="Math" type="primary" size="large" />
      <Tag name="Research" type="primary" size="large" />
      <Tag name="Development" type="primary" size="large" />
      <Tag name="Tutorial" type="primary" size="large" />
      <Tag name="Machine learning" type="primary" size="large" />
    </div>

    <span
      class="my-10 xl:text-5xl text-3xl w-auto block text-center decoration-dotted opacity-80"
      style="text-decoration: underline overline dashed; text-underline-offset: 24px;"
      >{contentText[language].recent_posts}</span
    >

    <div class="grid md:grid-cols-2 grid-cols-1 xl:gap-10">
      {
        formattedPosts
          .slice(0, 6)
          .map((post) => (
            <Post
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              tags={post.frontmatter.tags}
              date={post.frontmatter.date}
              image={post.frontmatter.image}
              link={`/${language}/posts/${post.file.split("/").pop()?.split(".")[0].toLowerCase()}`}
            />
          ))
      }
    </div>
</BaseLayout>